@import "custom";

$color-red: rgb(200, 0, 0);


a {
	color: $color-red;
}


#image-game-detail{

	width: 20%;
	height:20%;
}



.articles{
	display: flex;
	flex-wrap: wrap;
	flex-direction: row;
}

.cardGame {
	background-color: grey;
	margin-top: 5px;
	margin-bottom: 5px;
	margin-left: 5px;
	margin-right: 5px;
}